body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

#video-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
