:root {
  --main-bg-color: #ebecf0;
  --text-color: #61677c;
  --shadow-color: #babecc;
  --button-shadow-color: #fff;
  --article-bg-color: #1414148f;
  --article-detail-color: #1e1e1e;
  --border-article-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--main-bg-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
  color: var(--text-color);
  text-shadow: 1px 1px 0 var(--button-shadow-color);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

.header {
  background-color: var(--main-bg-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.search-field {
}

.search-buttons {
  padding: 1rem;
}

#clarifai-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}

.segment {
  padding: 32px 0;
  text-align: center;
}

button,
input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: var(--main-bg-color);
  text-shadow: 1px 1px 0 var(--button-shadow-color);
}

input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px var(--shadow-color),
    inset -5px -5px 10px var(--button-shadow-color);
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

input:focus {
  box-shadow: inset 1px 1px 2px var(--shadow-color),
    inset -1px -1px 2px var(--button-shadow-color);
}

button {
  color: var(--text-color);
  font-weight: bold;
  box-shadow: -5px -5px 20px var(--button-shadow-color),
    5px 5px 20px var(--shadow-color);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  box-shadow: -2px -2px 5px var(--button-shadow-color),
    2px 2px 5px var(--shadow-color);
}

button:active {
  box-shadow: inset 1px 1px 2px var(--shadow-color),
    inset -1px -1px 2px var(--button-shadow-color);
}

.content {
  height: 80%;
  width: 90%;
  border-radius: 25px;
  background-color: var(--main-bg-color);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -5px -5px 20px var(--button-shadow-color),
    5px 5px 20px var(--shadow-color);
}

#news-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px;
  overflow-y: scroll;
}

.article {
  font-family: "Roboto", Arial, sans-serif;
  position: relative;
  border-radius: 25px;
  margin: 10px;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: var(--article-bg-color);
}

.article img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
  border-radius: 25px;
}

.article .date {
  position: absolute;
  background-color: var(--article-detail-color);
  top: 0;
  right: 0;
  width: 100%;
  padding: 10px 25px 0;
  text-align: right;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.article .date:before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 400px 55px 0;
  border-color: transparent var(--article-detail-color) transparent transparent;
}

.article .article-bread-text {
  width: 100%;
  padding: 0 25px 25px;
  position: relative;
}

.article .article-bread-text a {
  padding: 5px;
  border: 1px solid var(--border-article-color);
  color: var(--border-article-color);
  font-size: 0.7em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
}

.article .article-bread-text a:hover {
  opacity: 1;
}

.article h2 {
  margin: 0 0 10px;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.2em;
}

.article p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}

@media screen and (max-width: 920px) {
  #news-container {
    grid-template-columns: repeat(1, 1fr);
    height: 0%;
    overflow-y: visible;
  }

  .content {
    box-shadow: none;
    justify-content: start;
  }

  body {
    overflow: scroll;
  }
}
